<div class=" mt-5 mr-3">
  <div class="row">
      <div class="col-12 table ">
          <img src="../../../assets/img/DragonBallLogo.png"
              class="float-left rounded img mr-2" title="imagen sacada de ghumana1.wixsite.com">

  <p class="pservices text-justify"><strong>Dragon Ball</strong> (ドラゴンボール Doragon Bōru?, Bola de dragón)
    es un manga escrito e ilustrado por Akira Toriyama. Fue publicado originalmente en la revista Shōnen Jump,
    de la	editorial japonesa Shūeisha, entre 1984 y 1995.</p>

  <p class="pservices text-justify">Su trama describe las aventuras de Gokū, un guerrero saiyajin, cuyo fin es proteger a la
    Tierra de otros seres que quieren conquistarla y exterminar a la humanidad. Conforme transcurre la trama,
    conoce a otros personajes que le ayudan en este propósito. El nombre de la serie proviene de unas esferas mágicas que
    al ser reunidas invocan a un dragón que concede deseos. En varias ocasiones resultan
    útiles tanto para Gokū y sus amigos como para la humanidad, aunque también son procuradas de forma constante
     por algunos seres malignos.</p>

  <p class="pservices text-justify">El manga tuvo 519 capítulos impresos recopilados en 42 volúmenes tankōbon. Dos años después de su lanzamiento,
    Toei Animation estrenó una adaptación anime que abarcó aproximadamente la primera mitad de la obra. Una vez concluida
    su transmisión en 1989 por el canal Fuji Television en Japón, Toei estrenó una continuación titulada Dragon Ball Z,
    la cual incorporó el contenido restante del manga. Un tercer anime producido por el mismo estudio se estrenó en 1996.
    Denominado Dragon Ball GT, posee un argumento inédito en cuya redacción no participó Toriyama. En 2015 comenzó a emitirse
    Dragon Ball Super en Fuji Television, anime que continúa los sucesos de Dragon Ball Z y que cuenta con una adaptación al manga,
    publicada a partir de junio del mismo año en Shōnen Jump. La violencia y desnudez presentes en algunos episodios tanto del anime
    como del manga provocaron la censura por parte de las distribuidoras en distintos países.</p>

    <p class="pservices text-justify">Las ventas del material impreso, cuantificadas en más de 156 millones de copias vendidas en
      Japón y en más de 230 millones a nivel mundial,7​ llevaron a Dragon Ball a ser uno de los títulos más exitosos de Shūeisha.
       Las adaptaciones anime también consiguieron un éxito notable; en 1999, por ejemplo, uno de sus capítulos logró
       un récord de audiencia en EE.UU. en la cadena Cartoon Network, con 1,7 millones de televidentes.</p>

          <div class="row">
              <div class="col-lg-5 col-xs-12">

                <p class="pservices text-justify">Dragon Ball es
                  considerada como una de las obras más influyentes y populares11​ de la época contemporánea,10​ y ha servido de
                  inspiración para otros mangakas como Eiichirō Oda, Masashi Kishimoto, Tite Kubo e Hiro Mashima, creadores de One Piece,
                  Naruto, Bleach y Fairy Tail, respectivamente. Existe una franquicia de productos sobre el universo creado por Toriyama,
                  que incluye películas animadas y de imágenes reales, animaciones originales, videojuegos, cartas coleccionables, figuras de acción
                  y juguetes, entre otros.</p>
                   <a href="https://es.wikipedia.org/wiki/Dragon_Ball#Dragon_Ball"><small>Tomado de Wikipedia</small></a>
              </div>
              <div class="col-lg-7 col-xs-12">
                  <div class="embed-responsive embed-responsive-16by9"> <iframe class="rounded embed-responsive-item"
                          src="https://www.youtube.com/embed/9Hbd1QeI1Og" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe></div>
              </div>
          </div>
      </div>
  </div><br>
</div>
