
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand hidden" href="#">
    MENÚ
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse sMokus" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <img src="../../../assets/img/logocompleto.png" width="140px" class="d-inline-block align-top mr-lg-5" alt="">
      </li>
      <li class="nav-item " routerLinkActive="active" >
        <a class="nav-link btn btmockup shadow-lg borderBtnI" [routerLink]="['inicio']">Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link btn btmockup shadow-lg " [routerLink]="['personajes']">Personajes</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link btn btmockup shadow-lg" [routerLink]="['objetos']">Objetos</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link btn btmockup shadow-lg" [routerLink]="['razas']">Razas</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link btn btmockup shadow-lg" [routerLink]="['estados']">Estados</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link btn btmockup shadow-lg" [routerLink]="['planetas']">Planetas</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link btn btmockup shadow-lg" [routerLink]="['tecnicas']">Tecnicas</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link btn btmockup shadow-lg borderBtnD" [routerLink]="['episodios']">Episodios</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
    </form>
  </div>
</nav>
