
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    MENÚ
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <img src="../../../assets/img/logocompleto.png" width="140px" class="d-inline-block align-top" alt="">
      </li>
      <li class="nav-item active">
        <a class="nav-link btn btn-primary" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary" href="#">Personajes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary" href="#">Objetos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary" href="#">Razas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary" href="#">Estados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary" href="#">Planetas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary" href="#">Tecnicas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary" href="#">Episodios</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
    </form>
  </div>
</nav>
