<div class="row mt-5">
  <div class="col-lg-8 col-xs-12">
    <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['/planetas']"><strong>< Atras</strong></button>
    <h3 class="mt-3">{{planeta.Nombre }}</h3>
    <p> {{planeta.Descripcion}} </p>
    <strong>Raza Originaria</strong>
    <ul>
      <li >{{ razas['0'].Nombre_Raza }}</li>
    </ul>
    <strong>Personajes originarios del planeta</strong>
    <ul>
      <li *ngFor="let personaje of personajes" >{{ personaje.Nombre }}</li>
    </ul>
  </div>
  <div class="col-lg-4 col-xs-12">
    <div class="card text-center mr-lg-3" >
      <img [src]="planeta.Imagen" class="rounded mx-auto d-block mt-5" width="70%" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{planeta.Nombre}}</h5>
      </div>
    </div>
    <br>
  </div>
</div>
